<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
</head>
<body style="background-image: url('{{ asset('images/fondoLogin.svg') }}'); background-size: cover;">
{% block body %}
<body class="login-page">
<div class="login-container">
    <img src="{{ asset('images/logo.svg') }}" alt="Logo">
    {{ form_start(form) }}
        {{ form_row(form.tipo_usuario) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
    <input type="button" value="Cancelar" style="background-color: gray; color: white;" onclick="window.location.href='{{ path('login') }}'">
</div>
</body>
{% endblock %}
</html>