<!DOCTYPE html>
<html>
<head>
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
</head>

{% block title %}Iniciar sesión 2{% endblock %}

{% block body %}
<body class="login-page">
<div class="login-container">
    <img src="{{ asset('images/tu-logo.png') }}" alt="Logo">
    {{ form_start(form) }}
        {{ form_row(form.tipo_usuario) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
    <input type="button" value="Cancelar" style="background-color: gray; color: white;" onclick="window.location.href='{{ path('app_login') }}'">
</div>
</body>
{% endblock %}
</html>