<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body style="background-image: url('{{ asset('images/fondoLogin.svg') }}'); background-size: cover;">
{% block body %}
<div class="login2-container">
    <div class="login2-box">
        <img src="{{ asset('images/logo.svg') }}" alt="Logo">
        <h2 class="form-title">¿Eres particular o una empresa?</h2>
        {{ form_start(form) }}
            {{ form_widget(form.tipo_usuario) }}
            {{ form_row(form.save, {'attr': {'class': 'button next'}}) }}
        {{ form_end(form) }}
        <input type="button" value="Cancelar" class="button cancel" onclick="window.location.href='{{ path('login') }}'">
    </div>
</div>
{% endblock %}
</body>
</html>