{% extends 'base2.html.twig' %}

{% block body %}
{% set numero_pedido = 1 %}
<table class="tabla-pedidos tabla-pedidos-grande">
    <thead>
        <tr>
            <th>Pedido</th>
            <th>Tipos de producto</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in app.user.getPedido %}
            <tr>
                <td>#{{ numero_pedido }}</td>
                <td>{{ pedido.productos|length }}</td>
                <td>{{ pedido.total }}</td>
                <td>{{ pedido.estado == 'A' ? 'Aceptado' : 'Desconocido' }}</td>
                <td>{{ pedido.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            {% set numero_pedido = numero_pedido + 1 %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}