{% extends 'base2.html.twig' %}

{% block body %}
{% set numero_pedido = 1 %}
{% for pedido in app.user.getPedido %}
    <div>
        <h2>Pedido #{{ numero_pedido }}</h2>
        <p>Unidades totales: {{ pedido.productos|length }}</p>
        <p>Total: {{ pedido.total }}</p>
        <p>Estado: {{ pedido.estado == 'A' ? 'Aceptado' : 'Desconocido' }}</p>
        <p>Fecha: {{ pedido.fecha|date('Y-m-d H:i:s') }}</p>
    </div>
    {% set numero_pedido = numero_pedido + 1 %}
{% endfor %}
{% endblock %}