{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="header-text">Compra en tu zona</h1>
        <div class="row">
            <div class="col-12">
                <img src="{{ asset('images/mapa.png') }}" alt="mapa" class="mapa">
                <div class="caja">
                    <div class="titulo-container">
                        <p class="titulo-caja">Encuentra tu tienda</p>
                        <p class="titulo-caja">más cercana</p>
                        <form method="post">
                            <div class="form-group">
                                <input type="text" class="form-control codigo-postal" name="codigoPostal" placeholder="Introduce código postal">
                            </div>
                            <button type="submit" class="btn btn-primary btn-buscar">Buscar tiendas</button>
                        </form>
                        {% if error %}
                            <p id="error">{{ error }}</p>
                        {% endif %}
                        {% if comercios %}
                            <ul id="codigo-tienda">
                                {% for comercio in comercios %}
                                    <li id="nombre-comercio">{{ comercio.nombreComercio }}</li>
                                    <li>Dirección: {{ comercio.direccionComercio }}</li>
                                    <li>Teléfono: {{ comercio.telefono }}</li>
                                    <hr>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}