<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body style="background-image: url('{{ asset('images/fondoLogin.svg') }}'); background-size: cover;">
{% block body %}
    {% if error %}
        <div class="error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="login-container">
        <div class="login-box">
            <img src="{{ asset('images/logo.svg') }}" alt="logo">
            <form action="{{ path('login') }}" method="post">
                <div class="input-field">
                    <label for="username">Nombre de usuario:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}">
                </div>
                <div class="input-field">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="_password">
                </div>
                <input type="hidden" name="_target_path" value="/home"> 
                <button type="submit" class="button next">Siguiente</button>
                <a href="{{ path('app_home') }}" class="button cancel">Cancelar</a>
            </form>
            <p>¿Todavía no tienes cuenta? Crea una desde <a href="{{ path('app_login2') }}">aquí</a>.</p>
        </div>
    </div>
{% endblock %}
</html>